<div class="h-[15vh] bg-[#2B2C37] flex w-full">
    <div class="flex border-[#3E3F4E] border-2  h-full w-[20vw] justify-center items-center">
        <img src="../../assets/logo-main.png" class="h-7 mr-4" alt="">
        <p class="text-white text-[34px] font-semibold">kanban</p>
    </div>
    <div class="w-[85%] flex justify-between border-[#3E3F4E] border-l-[0]  border-2  h-full px-5 items-center">
        <p class="text-2xl text-white font-bold">Platform Launch</p>
        <div class="flex h-full items-center">
            <button class="text-[15px] font-bold bg-[#635FC7] w-[150px] rounded-3xl h-[50%] text-white mr-4">+ Add New
                Task</button>
            <img src="../../assets/icon-vertical-ellipsis.svg" alt="">
        </div>
    </div>
</div>